@model IEnumerable<Recommender.Model.AspNetUser>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <div class="panel-heading" align="center" style="margin-bottom:20px; background-image:url('../../Content/img/swirl_pattern.png')">
        <h1 style="color: #339999">Following</h1>
    </div>

    <div style="margin-bottom: 20px">
        <a href="@Url.Action("UserProfile", "User",new { id = ViewBag.user.Id })" class="btn btn-primary" style="background-color: #339999">View my profile</a>   
    </div>

    <div align="center">
        <div class="panel panel-default" style="width:80%">
            <div class="panel-heading"><h3>Following <span class="badge">@Model.Count()</span></h3></div>
            <div class="panel-body">
                <div class="list-group">
                    @if (Model.Count() != 0)
                    {
                        foreach (var user in Model)
                        {
                            <a href="@Url.Action("Details", "User", new { id = user.Id, looggedUser = ViewBag.user.Id })" class="list-group-item" style="height:50px">
                                    <span class="glyphicon glyphicon-user pull-right"></span>  @user.UserName
                                </a>
                        }
                    }
                    else
                    {
                        <h3>You are not following anyone at the moment...</h3>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
