@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <div class="panel-heading" align="center" style="margin-bottom:20px; background-image:url('../../Content/img/swirl_pattern.png')">
        <h1 style="color: #339999">Following</h1>
    </div>

    <div class="page-header" align="center">
        <h1>
            <small><a href="@Url.Action("Details", "User", new {id = ViewBag.user.Id })" >@ViewBag.user.UserName</a></small>
        </h1>   
    </div>

    

    <!--<div class="row">
        <div class="col-md-6">
            <div class="jumbotron" align="center">
                <h1>Following 10 people</h1>
            </div>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>-->
    <div align="center">
        <div class="panel panel-default" style="width:80%">
            <div class="panel-heading"><h3>Following <span class="badge">10</span></h3></div>
            <div class="panel-body">
                <div class="list-group">
                    @for (int i = 0; i < 10; i++)
                    {
                        <a href="#" class="list-group-item" style="height:50px">
                            <span class="glyphicon glyphicon-user pull-right"></span>  Пријател @(i)
                        </a>

                    }
                </div>
            </div>
        </div>
    </div>

</div>
