@{
    ViewBag.Title = "Home Page";
}
<div class="container-full">
    <div class="row">
        <div class="col-lg-12 text-center v-center">
            <div class="lead">
                <p id="heading">Musica.fm <span class="glyphicon glyphicon-play white"></span></p>
                Социјална мрежа за слушање музика

            </div>

            
            <br><br><br><br />

            <button class="btn btn-default btn-default" type="submit">
                <span class="glyphicon glyphicon-music"></span>
                Слушај музика!
            </button>
        </div>
    </div> <!-- /row -->
</div> <!-- /container full -->


<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>За проектот</h3></div>
                <div class="panel-body">
                    Веб базрирана апликација која ќе им послужи на корисниците
                    при избор на слушање на музика, како и за откривање на нови артисти и песни кои се слични со
                    оние кои веќе им се допаѓаат. Целта е да се заштеди времето на корисникот при избор на музика
                    која тој би ја слушал. Новитетот кој го воведуваме е тоа што при тоа препорачување може да се
                    симулира еден тип на радио, кое би го погодувало вкусот за музика на корисникот и ќе му предложува
                    песни од тој тип.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Употребени технологии</h3></div>
                <div class="panel-body">
                    <ul>
                        <li>ASP.NET MVC</li>
                        <li>MS SQL database</li>
                        <li>Bitbucket, MS Project, Redmine</li>
                    </ul> 
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Изработиле</h3></div>
                <div class="panel-body">
                    <ul>
                        <li>Тамара Димитрова</li>
                        <li>Методи Тошески</li>
                        <li>Весна Филиповска</li>
                        <li>Јован Стефановски</li>
                        <li>Владимир Николовски</li>
                        <li>Марија Трпческа</li>
                        <li>Трајче Петрески</li>
                        <li>Кристијан Петровски</li>
                        <li>Тони Дума</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

