@{
    ViewBag.Title = "Home Page";
}
<div class="container-full">
    <div class="row">
        <div class="col-lg-12 text-center v-center">
            <div class="lead">
                <p id="heading">Musica.fm <span class="glyphicon glyphicon-play "></span></p>
                Social network for discovering music.

            </div>

            
            <br><br><br><br />

            <button class="btn btn-default btn-default btn-lg"
                    style="background-color: #339999; color: white"
                    type="submit" onclick="location.href='@Url.Action("Dashboard", "Home")'">
                <div>
                    <span class="glyphicon glyphicon-headphones"></span>
                    Join!
                </div>
            </button>
        </div>
    </div> <!-- /row -->
</div> <!-- /container full -->


<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>About</h3></div>
                <div class="panel-body">
                    Web based application which serves the users to choose the songs they listen, manage them in
                    user collections, as well as the possibility to discover new artist, albums or songs similar to 
                    already listed songs, or to the ones their friends who listen similar music to them have listed.
                    The application has the possibility to require recommendation based on the songs in the user collections
                    and the listed friends, list user collections, add songs to collections and follow users that are friends
                    or listen similar music.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Technologies</h3></div>
                <div class="panel-body">
                    <ul>
                        <li>ASP.NET MVC</li>
                        <li>MS SQL database</li>
                        <li>Bootstrap, jQuery</li>
                        <li>Bitbucket, MS Project, Redmine</li>
                    </ul> 
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Development Team</h3></div>
                <div class="panel-body">
                    <ul>
                        <li>Tamara Dimitrova</li>
                        <li>Metodi Tosheski</li>
                        <li>Vesna Filipovska</li>
                        <li>Jovan Stefanovski</li>
                        <li>Vladimir Nikolovski</li>
                        <li>Marija Trpchevska</li>
                        <li>Trajche Petreski</li>
                        <li>Kristijan Petrovski</li>
                        <li>Toni Duma</li>
                        <li>Aleksandar Tufekciev</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

