@{
    ViewBag.Title = "Мојот профил";
}




<div class="container body-content">

    <div class="panel-heading" align="center" style="margin-bottom:20px; background-image:url('../../Content/img/swirl_pattern.png')">
        <h1>Корисничка табла</h1>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="jumbotron">
                <p align="center"><a href="/User/Details/@ViewBag.id"><span class="glyphicon glyphicon-user"></span></a><br /> Мојот профил</p>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="jumbotron">
                <p align="center"><a href="#"><span class="glyphicon glyphicon-music"></span></a><br /> Слушај музика</p>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="jumbotron">
                <p align="center"><a href="/Home/MyCollections"><span class="glyphicon glyphicon-th-list"></span></a><br /> Моите колекции</p>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="jumbotron">
                <p align="center"><a href="#"><span class="glyphicon glyphicon-tasks"></span></a><br /> Моите пријатели</p>
            </div>
        </div>
    </div>

</div>
